<header class="secondary">
	<h2>Dashboard</h2>
	<span class="controls">
		<% if settings.build_command %>
			<form id="publish-form" action="/<%= settings.base_route %>/publish" method="post">
				<button type="submit" form="publish-form">Publish site</button>
			</form>
		<% end %>
	</span>
</header>
<table>
	<tr>
		<th>Collection</th>
		<th>Count</th>
		<th></th>
		<th></th>
	</tr>
	<% for collection in @collections %>
		<tr>
			<td><%= RobinCMS::Helpers.pluralize(collection.label) %></td>
			<td>
				<%= @all_items.filter { |item| item.fields[:kind] == collection.id }.count %>
			</td>
			<td>
				<a href="/<%= settings.base_route %>/collections/<%= collection.id %>">
					View <%= RobinCMS::Helpers.pluralize(collection.label) %>
				</a>
			</td>
			<td>
				<a href="/<%= settings.base_route %>/collections/<%= collection.id %>/item">
					New <%= collection.label %>
				</a>
			</td>
		</tr>
	<% end %>
</table>
