<h2>Dashboard</h2>
<table>
	<tr>
		<th>Collection</th>
		<th>Count</th>
		<th></th>
		<th></th>
	</tr>
	<% for collection in @collections %>
		<tr>
			<td><%= collection.label %></td>
			<td><%= @all_items.filter { |item| item.fields['kind'] == collection.id }.count %></td>
			<td>
				<a href="/<%= settings.base_route %>/collections/<%= collection.id %>">
					View <%= RobinCMS::Helpers.pluralize(collection.label) %>
				</a>
			</td>
			<td>
				<a href="/<%= settings.base_route %>/collections/<%= collection.id %>/item">
					New <%= collection.label %>
				</a>
			</td>
		</tr>
	<% end %>
</table>
<dialog id="publish-success" <% if flash[:success] %>open<% end %>>
	<h2>Success!</h2>
	<p>Your site has been successfully published!</p>
	<div class="controls">
		<form id="dialog-close" method="dialog">
			<button type="submit" form="dialog-close">Continue</button>
		</form>
	</div>
</dialog>
