<div class="card">
	<header>
		<h2><%= @collection.label %></h2>
		<span class="controls">
			<% if @collection.can_create %>
				<a href="/<%= settings.base_route %>/collections/<%= @collection.id %>/item">
					New <%= @collection.id %>
				</a>
			<% end %>
			<% if settings.build_command %>
				<form id="publish-form" action="/<%= settings.base_route %>/publish" method="post">
					<button class="--safe" type="submit" form="publish-form">Publish site</button>
				</form>
			<% end %>
		</span>
	</header>
	<% if @collection.description %>
		<p><%= @collection.description %></p>
	<% end %>
</div>
<form id="filter-form" class="card --clear controls --align-right" action="" method="get">
	<label class="--horizontal" for="sort">Sort</label>
	<select id="sort" name="sort">
		<% for option in RobinCMS::Item::SORT_OPTIONS %>
			<option
				value="<%= option[:value] %>"
				<% if query_params['sort'] == option[:value] %>
					selected
				<% end %>
			>
				<%= option[:label] %>
			</option>
		<% end %>
	</select>
	<label class="--horizontal" for="status">Status</label>
	<select id="status" name="status">
		<% for option in RobinCMS::Item::STATUS_OPTIONS%>
			<option
				value="<%= option[:value] %>"
				<% if query_params['status'] == option[:value] %>
					selected
				<% end %>
			>
				<%= option[:label] %>
			</option>
		<% end %>
	</select>
	<label class="--horizontal" for="search">Search</label>
	<input id="search" name="q" type="search" value="<%= query_params['q'] %>" />
	<button type="submit">Apply</button>
</form>
<div class="card">
	<% if @items.length == 0 %>
		<p id="no-items">
		Nothing to show.<br /><br />
			<% if @collection.can_create %>
				Create a <a href="/<%= settings.base_route %>/collections/<%= @collection.id %>/item">new <%= @collection.label_singular.downcase %></a>
				or try <a href="/<%= settings.base_route %>/collections/<%= @collection.id %>">clearing</a> your search filters.
			<% end %>
		</p>
	<% else %>
		<table>
			<tr>
				<th class="grow-column">Name</th>
				<th>Created at</th>
				<th>Last updated</th>
				<th></th>
				<th></th>
			</tr>
			<% for item in @items %>
				<tr>
					<td>
						<a href="/<%= settings.base_route %>/collections/<%= @collection.id %>/item?id=<%= item.id %>">
							<%= item.fields[:title] %>
						</a>
					</td>
					<td>
						<%= Time.parse(item.fields[:created_at]).strftime('%b %d, %Y') %>
					</td>
					<td>
						<%= Time.parse(item.fields[:updated_at]).strftime('%b %d, %Y') %>
					</td>
					<td>
						<a href="/<%= settings.base_route %>/collections/<%= @collection.id %>/item?id=<%= item.id %>">
							Edit
						</a>
					</td>
					<td>
						<% if @collection.can_delete %>
							<%= erb :dialog, locals: {
								id: "delete#{item.id}",
								heading: "Delete #{item.fields[:title]}?",
								body: "Are you sure you want to delete #{item.fields[:title]}?",
								action: "/#{settings.base_route}/collections/#{@collection.id}/item/delete?id=#{item.id}",
								button_label: 'Delete',
								danger: true
							} %>
						<% end %>
					</td>
				</tr>
			<% end %>
			<% 16.times do %>
				<tr>
					<td><a href="">An item</a></td>
					<td>Jan 07, 2025</td>
					<td>Jan 07, 2025</td>
					<td><a href="">Edit</a></td>
					<td><button class="--danger">Delete</button></td>
				</tr>
			<% end %>
		</table>
	<% end %>
</div>
