<header class="--level-2">
	<h2><%= @collection.label %></h2>
	<span class="controls">
		<a href="/<%= settings.base_route %>/collections/<%= @collection.id %>/item">
			New <%= @collection.id %>
		</a>
		<% if settings.build_command %>
			<form id="publish-form" action="/<%= settings.base_route %>/publish" method="post">
				<button type="submit" form="publish-form">Publish site</button>
			</form>
		<% end %>
	</span>
</header>
<% if @items.length == 0 %>
	<p id="no-items">
		Nothing to show. Create a <a href="/<%= settings.base_route %>/collections/<%= @collection.id %>/item">new <%= @collection.label %></a>.
	</p>
<% else %>
	<table id="items-table">
		<tr>
			<th class="grow">Name</th>
			<th>Created at</th>
			<th>Last updated</th>
			<th></th>
			<th></th>
		</tr>
		<% for item in @items %>
			<tr>
				<td>
					<a href="/<%= settings.base_route %>/collections/<%= @collection.id %>/item?id=<%= item.id %>">
						<%= item.fields['title'] %>
					</a>
				</td>
				<td>
					<%= Time.parse(item.fields['created_at']).strftime('%b %d, %Y') %>
				</td>
				<td>
					<%= Time.parse(item.fields['updated_at']).strftime('%b %d, %Y') %>
				</td>
				<td class="controls">
					<a href="/<%= settings.base_route %>/collections/<%= @collection.id %>/item?id=<%= item.id %>">
						Edit
					</a>
				</td>
				<td>
					<%= erb :dialog, locals: {
						id: "delete#{item.id}",
						heading: "Delete #{item.fields['title']}?",
						body: "Are you sure you want to delete #{item.fields['title']}?",
						action: "/#{settings.base_route}/collections/#{@collection.id}/item/delete?id=#{item.id}",
						button_label: 'Delete',
						danger: true
					} %>
				</td>
			</tr>
		<% end %>
	</table>
<% end %>
