<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />

<header class="card">
	<h2><%= @item.id ? 'Edit' : 'New' %> <%= @collection.id %></h2>
	<span class="controls">
		<a href="/<%= settings.base_route %>/collections/<%= @collection.id %>">Back</a>
		<% if @collection.can_delete && @item.id %>
			<%= erb :dialog, locals: {
				id: "delete#{@item.id}",
				heading: "Delete #{@item.fields[:title]}?",
				body: "Are you sure you want to delete #{@item.fields[:title]}?",
				action: "/#{settings.base_route}/collections/#{@collection.id}/item/delete?id=#{@item.id}",
				button_label: 'Delete',
				danger: true
			} %>
		<% end %>
	</span>
</header>
<form
	class="card"
	<% if @item.id %>
		action="/<%= settings.base_route %>/collections/<%= @collection.id %>/item?id=<%= @item.id %>"
	<% else %>
		action="/<%= settings.base_route %>/collections/<%= @collection.id %>/item"
	<% end %>
	method="post"
>
	<% for field in @collection.fields %>
		<div class="field">
			<% unless field.type == 'hidden' %>
				<label for="<%= field.id %>"><%= field.label %></label>
			<% end %>
			<% if ['text', 'date', 'number', 'hidden', 'color', 'email', 'url'].include?(field.type) %>
				<input
					<%# TODO - need to add an id here for the label %>
					type="<%= field.type %>"
					name="<%= field.id %>"
					value="<%= @item.fields[field.id] || field.default %>"
					<% if field.required %>required<% end %>
					<% if field.readonly %>readonly<% end %>
				/>
			<% elsif field.type == 'richtext' %>
				<div id="toolbar">
					<span class="ql-formats">
						<button class="ql-bold"></button>
						<button class="ql-italic"></button>
						<button class="ql-underline"></button>
						<button class="ql-strike"></button>
					</span>
					<span class="ql-formats">
						<button class="ql-script" value="sub"></button>
						<button class="ql-script" value="super"></button>
					</span>
					<span class="ql-formats">
						<button class="ql-header" value="1"></button>
						<button class="ql-header" value="2"></button>
						<button class="ql-header" value="3"></button>
						<button class="ql-blockquote"></button>
						<button class="ql-code-block"></button>
					</span>
					<span class="ql-formats">
						<button class="ql-list" value="ordered"></button>
						<button class="ql-list" value="bullet"></button>
						<button class="ql-indent" value="-1"></button>
						<button class="ql-indent" value="+1"></button>
					</span>
					<span class="ql-formats">
						<button class="ql-direction" value="rtl"></button>
						<select class="ql-align"></select>
					</span>
					<span class="ql-formats">
						<button class="ql-link"></button>
						<button class="ql-image"></button>
						<button class="ql-video"></button>
					</span>
				</div>
				<div id="editor"><%= @item.fields[:content] %></div>
				<input
					id="richtext-content"
					type="hidden"
					name="<%= field.id %>"
					value=""
				/>
			<% else %>
				<div></div>
			<% end %>
		</div>
	<% end %>
	<footer>
		<button type="submit" form="item-form">Submit</button>
	</footer>
</form>

<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

<script>
	const form = document.getElementById("item-form")
	const input = document.getElementById("richtext-content")

	const quill = new Quill("#editor", {
		modules: {
			toolbar: "#toolbar",
		},
		theme: "snow",
	})

	update()

	quill.on(Quill.events.EDITOR_CHANGE, (eventName) => {
		if (eventName === Quill.events.TEXT_CHANGE) {
			update()
		}
	})

	quill.on(Quill.events.SELECTION_CHANGE, (range) => {
		if (!range) {
			update()
		}

		form.addEventListener("click", update, true)
	})

	function update() {
		input.value = quill.getSemanticHTML()
	}
</script>
