<h2><%= @collection.label %></h2>
<ul>
  <% for item in @items %>
    <li>
      <a href="/collections/<%= @collection.id %>/item?id=<%= item.id %>">
        <%= item.fields['title'] %>
      </a>
    </li>
  <% end %>
  <a href="/collections/<%= @collection.id %>/item">New article</a>
</ul>
