<header class="card">
	<h2>Dashboard</h2>
	<span class="controls">
		<% if settings.build_command %>
			<form id="publish-form" action="/<%= settings.base_route %>/publish" method="post">
				<button type="submit" form="publish-form">Publish site</button>
			</form>
		<% end %>
	</span>
</header>
<table>
	<thead>
		<tr>
			<th>Collection</th>
			<th class="grow-column">Count</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody class="card">
		<% for collection in @collections %>
			<tr>
				<td><%= collection.label %></td>
				<td>
					<%= @all_items.filter { |item| item.fields[:kind] == collection.id }.count %>
				</td>
				<td>
					<a href="/<%= settings.base_route %>/collections/<%= collection.id %>">
						View <%= collection.label %>
					</a>
				</td>
				<td>
					<% if collection.can_create %>
						<a href="/<%= settings.base_route %>/collections/<%= collection.id %>/item">
							New <%= collection.label_singular %>
						</a>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
