<dialog id="<%= safe_id(id, 'dialog_delete') %>" class="card">
	<h2><%= heading %></h2>
	<p>
		<%= body %>
		<% if danger %>
			This is a permanent action and it cannot be undone.
		<% end %>
	</p>
	<div class="controls">
		<form method="dialog">
			<button type="submit">Close</button>
		</form>
		<form action="<%= action %>" method="post">
			<button type="submit" class="<%= danger ? '--danger' : '' %>">
				<%= button_label %>
			</button>
		</form>
	</div>
</dialog>
<button
	type="button"
	<% if danger %>
		class="--danger"
	<% end %>
	onclick="<%= safe_id(id, 'dialog_delete') %>.showModal()"
>
	<%= button_label %>
</button>
