<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Robin CMS</title>
		<style>
			:root {
				--border-color: #e6e6e6;
				--border-radius: 4px;
				--bg-color: #f5f5f5;
				--font-color: #141414;
				--accent-color: <%= settings.accent_color %>;
				--safe-color: #29903b;
				--danger-color: #f85149;
				--header-height: 3rem;
				--padding: 0.5rem;
				--nav-width: 12rem;
			}

			body {
				margin: 0;
				height: 100vh;
				overflow-y: hidden;
				color: var(--font-color);
				font-family: sans-serif;
			}

			h1 {
				font-size: 1.5rem;
			}

			h2 {
				font-size: 1.25rem;
			}

			header {
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: var(--header-height);
				border-bottom: 1px solid var(--border-color);
				padding: 0 var(--padding);
				box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
			}

			header h1 {
				margin: 0;
			}

			header.secondary {
				box-shadow: none;
			}

			footer {
				margin-top: 2rem;
			}

			main {
				display: flex;
			}

			ul {
				padding-left: 0;
				list-style-type: none;
			}

			nav {
				background-color: var(--bg-color);
				border-right: var(--border-color);
				flex: 0 1 auto;
				min-width: var(--nav-width);
			}

			nav ul li a {
				color: var(--font-color);
				text-decoration: none;
				display: block;
				padding: var(--padding);
			}

			nav ul li.current a {
				background-color: var(--border-color);
				box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
			}

			nav ul li:hover a {
				color: var(--accent-color);
			}

			table {
				width: 100%;
				border-collapse: collapse;
				margin-top: 1rem;
			}

			td,
			th {
				text-align: left;
				padding: var(--padding);
				white-space: nowrap;
			}

			tr:nth-child(even) {
				background-color: var(--bg-color);
			}

			label {
				display: block;
				margin-bottom: var(--padding);
			}

			input {
				border: 1px solid var(--border-color);
				border-radius: var(--border-radius);
				width: 100%;
				max-width: 30rem;
				box-sizing: border-box;
				padding: var(--padding);
			}

			dialog {
				border: 1px solid var(--border-color);
				border-radius: var(--border-radius);
				box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
				width: 20rem;
				white-space: wrap;
				padding: 1rem;
			}

			dialog::backdrop {
				background: rgba(0, 0, 0, .15);
				backdrop-filter: blur(1px);
			}

			dialog .controls {
				justify-content: flex-end;
				background-color: var(--bg-color);
				margin: 0 -1rem -1rem -1rem;
				padding: 1rem;
			}

			#contentarea {
				flex: 1 0 auto;
				height: calc(100vh - var(--header-height));
				overflow-y: scroll;
				padding: 0 var(--padding);

				<% if @auth_layout %>
					margin: 2rem auto 0 auto;
					flex: 0 1 20rem;
					height: unset;
					padding: 1rem;
					border: 1px solid var(--border-color);
					border-radius: var(--border-radius);
				<% end %>
			}

			#contentarea header {
				margin: 0 calc(-1 * var(--padding));
			}

			#no-items {
				margin: 2rem 0;
				text-align: center;
			}

			#toolbar {
				border: 1px solid var(--border-color);
				border-top-left-radius: var(--border-radius);
				border-top-right-radius: var(--border-radius);
			}

			#editor {
				height: 16rem;
				border: 1px solid var(--border-color);
				border-top: 0;
				border-bottom-left-radius: var(--border-radius);
				border-bottom-right-radius: var(--border-radius);
			}

			#editor .ql-editor {
				padding: var(--padding);
			}

			.controls {
				display: flex;
				align-items: center;
			}

			.controls > *:not(:first-child):not(dialog) {
				margin-left: var(--padding);
			}

			.field {
				margin: 1rem 0;
			}

			.grow {
				width: 100%;
			}

			.--danger {
				color: var(--danger-color);
			}

			.--safe {
			}
		</style>
	</head>
	<body <% if flash[:success] %>onload="publishsuccess.showModal()"<% end %>>
		<header>
			<h1><%= settings.site_name %> admin</h1>
			<span class="controls">
				<% unless @auth_layout %>
					<a href="/<%= settings.base_route %>/logout">Log out</a>
				<% end %>
			</span>
		</header>
		<main>
			<% unless @auth_layout %>
				<nav>
					<ul>
						<li
							<% if request.path_info.split('/').last == 'collections' %>
								class="current"
							<% end %>
						>
							<a href="/<%= settings.base_route %>/collections">Dashboard</a>
						</li>
						<% for collection in @collections %>
							<li
								<% if request.path_info.include?(collection.id) %>
									class="current"
								<% end %>
							>
								<a href="/<%= settings.base_route %>/collections/<%= collection.id %>">
									<%= RobinCMS::Helpers.pluralize(collection.label) %>
								</a>
							</li>
						<% end %>
					</ul>
				</nav>
			<% end %>
			<div id="contentarea">
				<%= yield %>
				<footer>
					Powered by <a href="https://github.com/aronlebani/robin-cms.git">Robin CMS</a> <%= RobinCMS::VERSION %>
				</footer>
			</div>
		</main>
		<dialog id="publishsuccess">
			<h2>Success!</h2>
			<p>Your site has been successfully published!</p>
			<div class="controls">
				<form id="dialog-close" method="dialog">
					<button type="submit" form="dialog-close">Continue</button>
				</form>
			</div>
		</dialog>
	</body>
</html>
