<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Robin CMS</title>
		<style>
			:root {
				--border-color: #e6e6e6;
				--border-radius: 4px;
				--bg-color: rgb(236, 243, 250);
				--selected-color: #f5f5f5;
				--font-color: #141414;
				--accent-color: <%= settings.accent_color %>;
				--accent-color-light: <%= settings.accent_color %>3c;
				--safe-color: #29903b;
				--danger-color: #f85149;
				--header-height: 4rem;
				--padding: 1rem;
				--padding-sm: 0.5rem;
				--spacer: 1rem;
				--nav-width: 12rem;
				--box-shadow: rgba(68, 74, 87, 0.05) 0px 2px 6px 0px, rgba(68, 74, 87, 0.1) 0px 1px 3px 0px;
			}

			body {
				margin: 0;
				height: 100vh;
				overflow-y: hidden;
				color: var(--font-color);
				font-family: sans-serif;
				background-color: var(--bg-color);
			}

			header {
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: var(--header-height);
				border-bottom: 1px solid var(--border-color);
				padding: 0 var(--padding);
				background-color: white;
				box-shadow: var(--box-shadow);
			}

			header.secondary {
				height: unset;
			}

			header h1,
			header h2 {
				margin: 0;
			}

			main {
				max-width: 70rem;
				margin: 0 auto;
				display: flex;
			}

			nav {
				flex: 0 1 auto;
				min-width: var(--nav-width);
				margin: var(--spacer) var(--spacer) 0 0;
				height: fit-content;
				padding: 0 !important;
			}

			nav ul li a {
				color: var(--font-color);
				text-decoration: none;
				display: block;
				padding: var(--padding-sm);
			}

			nav ul li.current a,
			nav ul li:hover a {
				background-color: var(--accent-color-light);
				border-left: 3px solid var(--accent-color);
				padding-left: calc(var(--padding-sm) - 3px);
				color: var(--accent-color);
			}

			footer {
				margin: 2rem 0;
			}

			h1 {
				font-size: 1.5rem;
			}

			h2 {
				font-size: 1.25rem;
			}

			ul {
				padding-left: 0;
				list-style-type: none;
			}

			table {
				width: 100%;
				border-collapse: collapse;
			}

			td,
			th {
				text-align: left;
				padding: var(--padding-sm);
				white-space: nowrap;
			}

			tr:nth-child(even) {
				background-color: var(--selected-color);
			}

			label {
				display: block;
				margin-bottom: var(--padding-sm);
			}

			label.--horizontal {
				display: inline;
				margin-bottom: 0;
			}

			input {
				border: 1px solid var(--border-color);
				border-radius: var(--border-radius);
				width: 100%;
				max-width: 30rem;
				box-sizing: border-box;
				padding: var(--padding-sm);
			}

			select {
				border: 1px solid var(--border-color);
				border-radius: var(--border-radius);
				box-sizing: border-box;
				padding: var(--padding-sm);
				background-color: white;
			}

			input[type="search"] {
				width: initial;
			}

			fieldset {
				border: 0;
			}

			dialog {
				border: 1px solid var(--border-color);
				border-radius: var(--border-radius);
				width: 20rem;
				white-space: wrap;
			}

			dialog::backdrop {
				background: rgba(0, 0, 0, .15);
				backdrop-filter: blur(1px);
			}

			dialog .controls {
				justify-content: flex-end;
				background-color: var(--selected-color);
				margin: 0 calc(-1 * var(--padding)) calc(-1 * var(--padding)) calc(-1 * var(--padding));
				padding: var(--padding);
			}

			#site-header #robin-logo {
				width: calc(var(--header-height) - 2 * var(--padding-sm));
				margin-right: var(--padding-sm);
			}

			#contentarea {
				flex: 1 0 auto;
				height: calc(100vh - var(--header-height) - var(--spacer));
				overflow-y: scroll;
				margin: var(--spacer) 0 0 0;

				<% if @auth_layout %>
					margin: 2rem auto 0 auto;
					flex: 0 1 40rem;
					height: unset;
				<% end %>
			}

			#contentarea > * {
				margin-bottom: var(--spacer);
			}

			#contentarea > footer {
				<% if @auth_layout %>
					text-align: center;
				<% end %>
			}

			#no-items {
				margin: 2rem 0;
				text-align: center;
			}

			#toolbar {
				border: 1px solid var(--border-color);
				border-top-left-radius: var(--border-radius);
				border-top-right-radius: var(--border-radius);
			}

			#editor {
				height: 16rem;
				border: 1px solid var(--border-color);
				border-top: 0;
				border-bottom-left-radius: var(--border-radius);
				border-bottom-right-radius: var(--border-radius);
			}

			#editor .ql-editor {
				padding: var(--padding-sm);
			}

			#login-form {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			#login-form #robin-logo {
				width: 20rem;
				margin-right: 4rem;
			}

			#login-form > * {
				flex: 1 1 50%;
			}

			.card {
				background-color: white;
				box-shadow: var(--box-shadow);
				border: 1px solid var(--border-color);
				border-radius: var(--border-radius);
				padding: var(--padding);
			}

			.controls {
				display: flex;
				align-items: center;
			}

			.controls.--right {
				justify-content: flex-end;
			}

			.controls > *:not(:first-child):not(dialog) {
				margin-left: var(--padding);
			}

			.field {
				margin: var(--spacer) 0;
			}

			.grow {
				width: 100%;
			}

			.--danger {
				color: var(--danger-color);
			}

			.--safe {
			}
		</style>
	</head>
	<body <% if flash[:success] %>onload="publishsuccess.showModal()"<% end %>>
		<header id="site-header">
			<span class="controls">
				<%= erb :logo %>
				<h1><%= settings.site_name %> admin</h1>
			</span>
			<span class="controls">
				<% unless @auth_layout %>
					<a href="/<%= settings.base_route %>/logout">Log out</a>
				<% end %>
			</span>
		</header>
		<main>
			<% unless @auth_layout %>
				<nav class="card">
					<ul>
						<li
							<% if current_collection == 'collections' %>
								class="current"
							<% end %>
						>
							<a href="/<%= settings.base_route %>/collections">Dashboard</a>
						</li>
						<% for collection in @collections %>
							<li
								<% if current_collection == collection.id.to_s %>
									class="current"
								<% end %>
							>
								<a href="/<%= settings.base_route %>/collections/<%= collection.id %>">
									<%= collection.label %>
								</a>
							</li>
						<% end %>
					</ul>
				</nav>
			<% end %>
			<div id="contentarea">
				<%= yield %>
				<footer>
					Powered by <a href="https://github.com/aronlebani/robin-cms.git">Robin CMS</a> <%= RobinCMS::VERSION %>
				</footer>
			</div>
		</main>
		<dialog id="publishsuccess" class="card">
			<h2>Success!</h2>
			<p>Your site has been successfully published!</p>
			<div class="controls">
				<form id="dialog-close" method="dialog">
					<button type="submit" form="dialog-close">Continue</button>
				</form>
			</div>
		</dialog>
	</body>
</html>
